.technical tt {
    background: #d8c876;
}

div.technical {
    background-color: #f0e099;
    border: 1px solid #b07400;
}

.warning tt {
    background: #f2b5b5;
}

div.warning {
    background-color: #ffd4d4;
    border: 1px solid #f66;
}

.note tt {
    background: #d6d6d6;
}

div.note {
    background-color: #e6e6e6;
    border: 1px solid #808080;
}


